<div class="card">
    <div class="card-header">
        Feed Backs List
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class=" table table-bordered table-striped table-hover datatable datatable-category">
                <thead>
                    <tr>
                        <th width="10">
                        </th>
                        <th>
                            FeedBack Id
                        </th>
                        <th>
                            User Name
                        </th>
                        <th>
                            User Email
                        </th>
                        <th>
                            Comment
                        </th>
                        <th>
                            File Name
                        </th>
                        <th>
                            &nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% feedbacks.forEach(function(feedback) { %>
                        <tr data-entry-id="<%= feedback.id %>">
                            <td>
                            </td>
                            <td>
                                <%= feedback.id %>
                            </td>
                            <td>
                                <%- feedback.name %>
                            </td>
                            <td>
                                <%- feedback.email %>
                            </td>
                            <td>
                                <%- feedback.comment %>
                            </td>
                            <td>
                                <% if (feedback.file) { %>

                                    <a class="badge badge-info" href="/admin/files/<%= feedback.file %>"
                                        target="_blank">
                                        <%= feedback.file %>
                                    </a>
                                    <% } %>
                            </td>
                            <td>
                                <a class="btn btn-xs btn-info" href="/admin/feedbacks/view/<%= feedback.id %>">
                                    View
                                </a>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        let dtButtons = $.extend(true, [], $.fn.dataTable.defaults.buttons)
        $.extend(true, $.fn.dataTable.defaults, {
            order: [[1, 'desc']],
            pageLength: 100,
        });
        $('.datatable-category:not(.ajaxTable)').DataTable({ buttons: dtButtons })
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $($.fn.dataTable.tables(true)).DataTable()
                .columns.adjust();
        });
    })
</script>

<%- contentFor('style') %>